<div class="container py-12">
    <app-template>
        <h1 class="title">Home</h1>

        <ng-container data-aside>Aside</ng-container>

        <ng-container data-content>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum commodi aliquid eum exercitationem
                voluptatum libero nostrum dignissimos iste debitis enim. Repudiandae numquam beatae reiciendis facere
                provident ex placeat eveniet tempore.</p>
            <p>Id at totam eos optio pariatur ipsam, non corporis provident culpa ipsa, ullam nisi voluptatum suscipit
                atque alias quia distinctio dolorem maxime magnam veritatis! Odio earum assumenda alias provident ipsum?
            </p>
            <p>Rem beatae voluptatibus quam nostrum deleniti quaerat officiis assumenda atque, similique suscipit
                dolorem! Pariatur, at quia minus iure corporis dolore illo explicabo quidem reiciendis itaque temporibus
                cumque. Sapiente, aut odio.</p>
            <p>Ipsa eveniet voluptates quo nihil obcaecati. Odio architecto veniam, voluptatem excepturi porro aliquam
                vel animi inventore eligendi rem autem voluptates aperiam similique quos id, omnis accusamus illo
                tempore, culpa quis.</p>
            <p>Ratione in repellat modi sunt quaerat qui a est, ad delectus asperiores minima explicabo cumque cum vel
                reiciendis pariatur iure recusandae eius magni nulla dolor molestias corporis voluptatibus
                necessitatibus? Ducimus?</p>
            <p>Iste nostrum nemo delectus, sunt, eum minus magnam repudiandae, rerum architecto hic rem. Aspernatur,
                doloribus illo! Magnam, quam a, aspernatur expedita, vero amet consequuntur nemo hic provident nobis
                excepturi eum.</p>
        </ng-container>
    </app-template>
</div>